.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #FF0000;    }
    49%{    color: #000000; }
    50%{    color: #000000; }
    99%{    color: #000000;  }
    100%{   color: #FF0000;    }
}